@media screen and (max-width: 376px) {
  .hull-1 {
    height: 580px;
  }
}

@media screen and (max-width: 476px) {
  .hull-1 {
    background-image: url(img/Honkai-Star-Rail\ 476\ 2.png);
    background-size: 115%;
    height: 660px;
  }

  .hull-fragment-box-1 {
    height: 100px;
    width: 325px;
    border-radius: 5px;
    border: 2px solid rgba(111, 111, 111, 1);
  }

  .hull-fragment-box-1 img {
    height: 100px;
    width: 325px;
  }
  #r1:checked ~ .s1 {
    margin-left: 0;
  }

  #r2:checked ~ .s1 {
    margin-left: -325px;
  }

  #r3:checked ~ .s1 {
    margin-left: -650px;
  }

  #r4:checked ~ .s1 {
    margin-left: -975px;
  }

  #r5:checked ~ .s1 {
    margin-left: -1300px;
  }

  .navigation {
    bottom: 20px;
  }

  .navigation-auto {
    bottom: 20px;
  }

  .navigation-auto div {
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
  }

  .bar {
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
  }

  .hull-fragment-box-contain-2 h2 {
    font-size: 15px;
  }

  .hull-fragment-box-contain-2 {
    height: 400px;
  }
}

@media screen and (max-width: 415px) {
  .hull-1 {
    height: 635px;
  }
}

@media screen and (max-width: 391px) {
  .hull-1 {
    height: 600px;
  }
}

@media screen and (max-width: 376px) {
  .hull-1 {
    height: 580px;
  }
}

@media screen and (max-width: 360px) {
  .hull-1 {
    height: 555px;
  }
}
