@media screen and (max-width: 962px) {
  .hull-1 {
    height: 530px;
  }

  .hull-fragment-box-contain-2 {
    height: 190px;
  }
  #r1:checked ~ .s1 {
    margin-left: 0%;
  }

  #r2:checked ~ .s1 {
    margin-left: -929px;
  }

  #r3:checked ~ .s1 {
    margin-left: -1858px;
  }

  #r4:checked ~ .s1 {
    margin-left: -2787px;
  }

  #r5:checked ~ .s1 {
    margin-left: -3716px;
  }
}
