@media screen and (max-width: 1366px) {
  .hull-fragment-box-1 {
    height: 285.714px;
    width: 928.571px;
    border-radius: 5px;
    border: 2px solid rgb(234, 234, 234);
  }

  .hull-1 {
    height: 760px;
  }

  .hull-fragment-box-1 img {
    height: 285.714px;
    width: 928.571px;
  }
  #r1:checked ~ .s1 {
    margin-left: 0;
  }

  #r2:checked ~ .s1 {
    margin-left: -928.571px;
  }

  #r3:checked ~ .s1 {
    margin-left: -1857.142px;
  }

  #r4:checked ~ .s1 {
    margin-left: -2785.713px;
  }

  #r5:checked ~ .s1 {
    margin-left: -3714.284px;
  }
}
