html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  width: auto;
  font-family: "Golos Text", sans-serif;
  background-color: rgb(51, 51, 72);
  overflow-x: hidden;
}

.root {
  min-height: 100svh;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.navbar-fragment {
  color: azure;

  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  /*margin: 0px 15px 0px 15px;*/
  padding: 0px 15px 0px 15px;
  height: 60px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.navbar-fragment:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 27, 27);
}

.content {
  width: 100%;
  position: relative;
  height: fit-content;
  margin-top: 60px;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-x: hidden;*/
}

.content::-webkit-scrollbar {
  display: none;
}

.hull {
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  position: relative;
}

.hull-1 {
  background-color: rgb(51, 51, 72);
}

.hull-fragment {
  position: relative;
  height: fit-content;
}

.hull-fragment-box-contain {
  position: relative;
  z-index: 1;
}

.hull-fragment-box-1 {
  background-color: aliceblue;
  margin-top: 20px;
  height: 350px;
  width: 1300px;
  border-radius: 15px;
  border: 3px solid rgb(234, 234, 234);
  display: flex;
  overflow: hidden;
}

.hull-fragment-box-1 img {
  position: relative;
  width: 1300px;
  height: 350px;
  object-fit: cover;
  transition: all 0.7s ease;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}

#r2:checked ~ .s1 {
  margin-left: -1300px;
}

#r3:checked ~ .s1 {
  margin-left: -2600px;
}

#r4:checked ~ .s1 {
  margin-left: -3900px;
}

#r5:checked ~ .s1 {
  margin-left: -5200px;
}

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  margin: 6px;
  transition: all 0.5s ease;
}

.bar:hover {
  background: #fff;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.navigation-auto div {
  border: 2px solid #fff;
  margin: 6px;
  width: 50px;
  height: 10px;
  transition: 0.5s ease;
}

#r1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}

#r2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}

#r3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}

#r4:checked ~ .navigation-auto .auto-btn4 {
  background: #fff;
}

#r5:checked ~ .navigation-auto .auto-btn5 {
  background: #fff;
}

.hull-2 {
  background-color: rgb(51, 51, 72);
}

.hull-3 {
  background-color: rgb(51, 51, 72);
}

.hull-4 {
  background-color: rgb(51, 51, 72);
}
